<div id=list_index> 
<span><%= link_to 'Show', post_path(product) %></span> 
<span><%= link_to 'Edit', edit_admin_post_path(product) %></span> 
<span><%= link_to 'Destroy', admin_post_path(product), method: :delete, data: { confirm: 'Are you sure?' } %></span> 