<%= render "shared/header" %>

<%= link_to(new_item_path, class: 'purchase-btn') do %>
 <%# if current_user.id == 1 %>
  <span class='purchase-btn-text'>出品する</span>
<%# end %>
  <%#= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
<% end %>